{% extends 'base.html.twig' %}

{% block title %}Time tracker{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/styles.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jQuery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/main.js') }}"></script>
{% endblock %}

{% block body %}
    <header>
        <h1>Time tracker</h1>
    </header>

    <div id="timerContainer">
        <p id="timer">00:00:00</p>
        <button id="timerButton" disabled="disabled">Start</button>
    </div>

    <div id="content">
        {{ render(controller('AppBundle:Task:Index')) }}
    </div>
{% endblock %}
