<h1>Tasks list</h1>

<table>
    {% for key, task in tasks %}
        <tr {{ key is odd ? 'class="odd"' : ''}}>
            <td>
                <a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.name | upper }}</a>
                <br>
                {{ task.description }}
            </td>
        </tr>
    {% endfor %}
</table>

<ul>
    <li>
        <a href="{{ path('task_new') }}">Create a new task</a>
    </li>
</ul>
