<h1>{{ task.name | upper }}</h1>
<p>{{ task.description }}</p>
<div class="timing">Time(estimated/actual): 00:00/00:00</div>
<div class="created-at">Created: {{ task.createdAt | date('d F Y H:i:s') }}</div>

<ul>
    <li>
        <a href="{{ path('task_index') }}">Back to the list</a>
    </li>
    <li>
        <a href="{{ path('task_edit', { 'id': task.id }) }}">Edit</a>
    </li>
    <li>
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </li>
</ul>
