{% extends 'base.html.twig' %}

{% block timetracker %}
    <p>&nbsp;</p>
    <p id="timer">00:00:00</p>
    <a href="{{ path('timer_start', {'task': task.id}) }}">Start</a>
{% endblock %}

{% block content %}
    <h1>{{ task.name | upper }}</h1>
    <p>{{ task.description | nl2br }}</p>
    <div class="timing">Total time spent: {{ task.totalTime | duration }}</div>
    <div class="created-at">Created: {{ task.createdAt | date('d F Y H:i:s') }}</div>

    {% if task.timeIntervals is not empty %}
        <table>
            <thead>
                <tr>
                    <td>Begin</td>
                    <td>End</td>
                    <td>Duration</td>
                </tr>
            </thead>
            <tbody>
                {% for key, interval in task.timeIntervals %}
                    <tr {% if key is odd %}class="odd" {% endif %}>
                        <td>{{ interval.startsAt | date('d F Y H:i:s') }}</td>
                        <td>{{ interval.endsAt | date('d F Y H:i:s') }}</td>
                        <td>{{ interval.duration | duration }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <p class="ui-controlgroup">
        <a href="{{ path('task_index') }}">Back to the list</a>
        <a href="{{ path('task_edit', { 'id': task.id }) }}">Edit</a>
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </p>

    {{ include('comment/list.html.twig', {'comments': task.comments}) }}
    <div id="commentFormContainer">
        {{ render(controller('AppBundle:Comment:new', {'task': task.id})) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/comment.js') }}"></script>
{% endblock %}